@import "reset";

$black: #000000;
$gray-300: #C7C7C7;
$gray-500: #666666;
$gray-600: #333333;
$cyan-100: #00c0ee;


$sm: 0.875rem;
$md: 1rem;
$xl: 2rem;

:focus {
  outline: 0;
  box-shadow: 0 0 0 2px $gray-300;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: $sm;
  font-weight: 400;
}

button {
  border: none;
  cursor: pointer;
}

.header {
  border-bottom: 2px solid $gray-300;
  padding: 1rem;

  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 72rem;
    margin: auto;

    .bag {
      position: relative;
      background: transparent;
      line-height: 0;
      padding: 4px;
    }

    .bag-amout {
      position: absolute;
      top: 16px;
      right: -1px;
      display: flex;
      align-items: center;
      justify-content: center;

      width: 14px;
      height: 14px;
      
      border-radius: 50%;
      background-color: $cyan-100;
      color: #ffffff;
      
      font-size: 10px;
    }

    .bag-amout.hidden{
      display: none;
    }
  }
}

.container {
  max-width: 72rem;
  margin: auto;
  margin-top: 2.5rem;
  
  .main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h1 {
      font-size: $xl;
      color: $gray-600;
    }

    select {
      padding: 8px;
      background: transparent;
    }
  }

  .content {
    display: flex;
    margin-top: 4rem;

    section {
      display: grid;
      grid-template-columns: repeat(3, minmax(0, 1fr));
      gap: 2.5rem;
      padding: 0 130px;
      margin-bottom: 4.375rem;
      width: 100%;

    }
  }

  .main-footer {
    display: flex;
    justify-content: center;

    .load-more {
      min-width: 175px;
      text-align: center;
      margin-top: 14px;
      margin-bottom: 36px;
      padding: 7px ;
      background: $cyan-100;
      color: #ffffff;
      text-transform: uppercase;
      font-weight: 700;
    }
  }

}

.filter {
  display: flex;
  flex-direction: column;
  gap: 24px;
  min-width: 157px;
  height: 544px;

  h3 {
    font-size: $md;
    color: $gray-600;
    line-height: 22px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    margin-bottom: 14px;
  }

  input[type=checkbox] {
    position: relative;
    cursor: pointer;

    &:focus{
      outline: 0;
      box-shadow: 0 0 0 0 transparent;
    }
    
  }

  .filter-colors {

    .color-item {
      & + .color-item {
        margin-top: 10px;
      }
    }
  
    input[type=checkbox]:before {
      content: "";
      display: block;
      position: absolute;
      width: 16px;
      height: 16px;
      top: 0;
      left: 0;
      background-color: #ffffff;
      border: 1px solid $gray-300;
    }
    
    input[type=checkbox]:checked:after {
      content: "";
      position: absolute;

      display: block;
      width: 10px;
      height: 10px;
      top: 4px;
      left: 4px;
      background: $cyan-100;
    }

    label{
      margin-left: 4px;
    }
  }

  .filter-sizes {

    .filter-size-items{
      display: grid;
      grid-template-columns: repeat(4, minmax(32px, 1fr));
      gap: 8px;
    }

    .size {
      position: relative;

      input[type=checkbox] {
        position: absolute;
        left: -9999999px;
      }
    }

    label {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 32px;
      height: 32px;
      font-size: $md;
      text-transform: uppercase;
      color: $gray-300; 
      border: 1px solid $gray-300;
      cursor: pointer;
    }

    input[type=checkbox]:checked ~ label {
      color: $black;
      border-color: $cyan-100;
    }

  }

  .filter-price-range {
    .range-item {
      & + .range-item {
        margin-top: 10px;
      }
    }
  
    input[type=checkbox]:before {
      content: "";
      display: block;
      position: absolute;
      width: 16px;
      height: 16px;
      top: 0;
      left: 0;
      background-color: #ffffff;
      border: 1px solid $gray-300;
    }
    
    input[type=checkbox]:checked:after {
      content: "";
      position: absolute;

      display: block;
      width: 10px;
      height: 10px;
      top: 4px;
      left: 4px;
      background: $cyan-100;
    }

    label{
      margin-left: 4px;
      line-height: 14px;
    }
  }

}

.card {
  
  .card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;

    .title {
      color: $black;
      text-transform: uppercase;
      margin-bottom: 10px;
    }

    .card-amout {
      color: $black;
      font-size: $md;
      font-weight: 700;
      line-height: 21.79px;
    }

    span {
      color: $gray-500;
      font-size: $md;
    }
  }

  button {
    width: 100%;
    text-align: center;
    margin-top: 14px;
    padding: 7px 0;
    background: $black;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 700;
  }
}

.footer {
  background: $black;
  padding: 1rem;
  text-align: center;

  p {
    text-transform: uppercase;
    color: #ffffff;
  }
}
